In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks

In [2]:
customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
customer_df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [4]:
customer_df.shape

(9134, 24)

In [5]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [6]:
customer_df.columns = customer_df.columns.str.lower().str.replace(' ','_')

In [7]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [8]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(15)
memory usage: 1.7+ MB

In [9]:
customer_df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [10]:
continous = pd.DataFrame()
discrete = pd.DataFrame()
categorical = pd.DataFrame()
rest = pd.DataFrame()
def checkcatnum(df):
    for column in df:
        if df[column].dtype == 'int64':
            discrete[column] = df[column]
        elif df[column].dtype == 'float64' or df[column].dtype ==  '<M8[ns]':
            continous[column] = df[column]
        elif df[column].dtype == 'object':
            categorical[column] = df[column]
        else:
            rest[column] = df[column]
    return discrete, continous, categorical, rest
checkcatnum(customer_df)

(      income  monthly_premium_auto  months_since_last_claim  \
 0      56274                    69                       32
 1          0                    94                       13
 2      48767                   108                       18
 3          0                   106                       18
 4      43836                    73                       12
 ...      ...                   ...                      ...
 9129   71941                    73                       18
 9130   21604                    79                       14
 9131       0                    85                        9
 9132   21941                    96                       34
 9133       0                    77                        3

       months_since_policy_inception  number_of_open_complaints  \
 0                                 5                          0
 1                                42                          0
 2                                38                          0
 3                                65                          0
 4                                44                          0
 ...                             ...                        ...
 9129                             89                          0
 9130                             28                          0
 9131                             37                          3
 9132                              3                          0
 9133                             90                          0

       number_of_policies
 0                      1
 1                      8
 2                      2
 3                      7
 4                      1
 ...                  ...
 9129                   2
 9130                   1
 9131                   2
 9132                   3
 9133                   1

 [9134 rows x 6 columns],
       customer_lifetime_value effective_to_date  total_claim_amount
 0                 2763.519279        2011-02-24          384.811147
 1                 6979.535903        2011-01-31         1131.464935
 2                12887.431650        2011-02-19          566.472247
 3                 7645.861827        2011-01-20          529.881344
 4                 2813.692575        2011-02-03          138.130879
 ...                       ...               ...                 ...
 9129             23405.987980        2011-02-10          198.234764
 9130              3096.511217        2011-02-12          379.200000
 9131              8163.890428        2011-02-06          790.784983
 9132              7524.442436        2011-02-03          691.200000
 9133              2611.836866        2011-02-14          369.600000

 [9134 rows x 3 columns],
      customer       state response  coverage education employmentstatus  \
 0     BU79786  Washington       No     Basic  Bachelor         Employed
 1     QZ44356     Arizona       No  Extended  Bachelor       Unemployed
 2     AI49188      Nevada       No   Premium  Bachelor         Employed
 3     WW63253  California       No     Basic  Bachelor       Unemployed
 4     HB64268  Washington       No     Basic  Bachelor         Employed
 ...       ...         ...      ...       ...       ...              ...
 9129  LA72316  California       No     Basic  Bachelor         Employed
 9130  PK87824  California      Yes  Extended   College         Employed
 9131  TD14365  California       No  Extended  Bachelor       Unemployed
 9132  UP19263  California       No  Extended   College         Employed
 9133  Y167826  California       No  Extended   College       Unemployed

      gender location_code marital_status     policy_type        policy  \
 0         F      Suburban        Married  Corporate Auto  Corporate L3
 1         F      Suburban         Single   Personal Auto   Personal L3
 2         F      Suburban        Married   Personal Auto   Personal L3
 3         M      Suburban        Married  Corporate Auto  Corporate L2
 4         M         Rural         Single   Personal Auto   Personal L1
 ...     ...           ...            ...             ...           ...
 9129      M         Urban        Married   Personal Auto   Personal L1
 9130      F      Suburban       Divorced  Corporate Auto  Corporate L3
 9131      M      Suburban         Single  Corporate Auto  Corporate L2
 9132      M      Suburban        Married   Personal Auto   Personal L2
 9133      M      Suburban         Single  Corporate Auto  Corporate L3

      renew_offer_type sales_channel  vehicle_class vehicle_size
 0              Offer1         Agent   Two-Door Car      Medsize
 1              Offer3         Agent  Four-Door Car      Medsize
 2              Offer1         Agent   Two-Door Car      Medsize
 3              Offer1   Call Center            SUV      Medsize
 4              Offer1         Agent  Four-Door Car      Medsize
 ...               ...           ...            ...          ...
 9129           Offer2           Web  Four-Door Car      Medsize
 9130           Offer1        Branch  Four-Door Car      Medsize
 9131           Offer1        Branch  Four-Door Car      Medsize
 9132           Offer3        Branch  Four-Door Car        Large
 9133           Offer4   Call Center   Two-Door Car      Medsize

 [9134 rows x 15 columns],
 Empty DataFrame
 Columns: []
 Index: [])

In [11]:
discrete

,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,56274,69,32,5,0,1
1,0,94,13,42,0,8
2,48767,108,18,38,0,2
3,0,106,18,65,0,7
4,43836,73,12,44,0,1
...,...,...,...,...,...,...
9129,71941,73,18,89,0,2
9130,21604,79,14,28,0,1
9131,0,85,9,37,3,2
9132,21941,96,34,3,0,3
9133,0,77,3,90,0,1

In [12]:
continous

      customer_lifetime_value effective_to_date  total_claim_amount
0                 2763.519279        2011-02-24          384.811147
1                 6979.535903        2011-01-31         1131.464935
2                12887.431650        2011-02-19          566.472247
3                 7645.861827        2011-01-20          529.881344
4                 2813.692575        2011-02-03          138.130879
...                       ...               ...                 ...
9129             23405.987980        2011-02-10          198.234764
9130              3096.511217        2011-02-12          379.200000
9131              8163.890428        2011-02-06          790.784983
9132              7524.442436        2011-02-03          691.200000
9133              2611.836866        2011-02-14          369.600000

[9134 rows x 3 columns]

In [13]:
categorical

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [14]:
for col in categorical:
    print(categorical[col].value_counts(), '\n')

JS43228    1
YL91587    1
ZT26848    1
AL35726    1
GX33877    1
          ..
HX45529    1
AR96516    1
XS78545    1
CX20455    1
ZZ43513    1
Name: customer, Length: 9134, dtype: int64

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

No     7826
Yes    1308
Name: response, dtype: int64

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

F    4658
M    4476
Name: gender, dtype: int64

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [17]:
categorical['education'] = categorical['education'].str.replace('High School or Below', 'High School')

In [18]:
categorical['education'].value_counts()

Bachelor       2748
College        2681
High School    2622
Master          741
Doctor          342
Name: education, dtype: int64